{% load staticfiles %}
{% load i18n %}
{% block css_head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block container %}
    <div class="content" style="height: 100%;">
        {% block content %}

            <style>
                  p {
                    font-size: 1.15em;
                  }
                #message {
                    opacity: 10;
                    color: #CEE9F2;
                    {#font-weight: bold;#}
                    font-size: x-large;
                }
                a:hover{
                    text-decoration: none;
                }
                a {
                        color: yellow;
                }
            </style>
            <div class="container" id="message">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="text-center title p-3 mb-2
                        bg-gradient-success text-white">Thank You</h2>

                        <p class="text-center p-3 mb-2 bg-gradient-success text-white">We appreciate your feedback
                            .<br />
                        Someone from the team will be in touch with you shortly.</p>

                        <div class="col-lg-12 center-block"
                                style="padding-left:45%;">
                            <div class="btn btn-success"><a href="/">Home Page</a></div>
                        </div>
                    </div>
                </div>
            </div>

        {% endblock %}
    </div>
{% endblock %}
