{% extends 'main_base.html' %}
{% load static from staticfiles %}

{% block title %}
    Home
{% endblock %}

{% block head %}

    <!-- Custom styles for this template -->
    <link href="{% static "css/landing_page.css" %}" rel="stylesheet">

{% endblock %}

{% block body_content %}
<div id="section-wrapper">
    <header class="masthead text-center text-white d-flex" id="header">
{#        {% include "carousel.html" %}#}
    </header>

    <section id="fish-data" style="position: relative">
      <div class="container" style="margin-bottom: 25px">
        <div class="row">
          <div class="section-heading-container col-lg-4 mx-auto text-center">
            <h2 class="section-heading">OUR MODULES</h2>
          </div>
        </div>
        <div class="row">

          <div class="col-lg-2 ml-auto text-center" id="total-fish">
            <div class="chart-icon-wrapper">
                <img src="{% static "img/fish-icon.svg" %}" class="fish-icon fish">
                <span class="bullet"></span>
                <p class="total-data green">345</p>
                <p class="total-data-desc green">BIODIVERSITY</p>
            </div>
          </div>

          <div class="col-lg-2 text-center" id="total-invertebra">
            <div class="chart-icon-wrapper">
              <img src="{% static "img/aquatic-invertebrates-icon.svg" %}" class="fish-icon crab">
              <span class="bullet"></span>
              <p class="total-data green">29</p>
              <p class="total-data-desc green">PROTECTED AREA MANAGEMENT</p>
            </div>
          </div>

          <div class="col-lg-2 text-center" id="total-invertebra">
            <div class="chart-icon-wrapper">
              <img src="{% static "img/aquatic-invertebrates-icon.svg" %}" class="fish-icon crab">
              <span class="bullet"></span>
              <p class="total-data green">176</p>
              <p class="total-data-desc green">EMPOWERMENT SERVICES</p>
            </div>
          </div>

          <div class="col-lg-2 text-center" id="total-invertebra">
            <div class="chart-icon-wrapper">
              <img src="{% static "img/aquatic-invertebrates-icon.svg" %}" class="fish-icon crab">
              <span class="bullet"></span>
              <p class="total-data green">344</p>
              <p class="total-data-desc green">POLUTION AND WASTE MANAGEMENT</p>
            </div>
          </div>

          <div class="col-lg-2 mr-auto text-center" id="total-algae">
              <div class="chart-icon-wrapper">
                <img src="{% static "img/algae-icon.svg" %}" class="fish-icon algae">
                <span class="bullet"></span>
                <p class="total-data green">45</p>
                <p class="total-data-desc green">WILDLIFE TRADE AND REGULATION</p>
              </div>
          </div>

        </div>
      </div>
    </section>
    </div>

    <section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 pull-left kartoza-icon">
                <a href="http://kartoza.com/en/">
                    <img src="{% static "img/kartoza-logo-only.png" %}" style="width: 70px">
                </a>
            </div>
            <div class="col-lg-2 pull-right about-links">
                <p><a>ABOUT</a></p>
                <p><a>CONTACT</a></p>
                <p><a>OTHER FOOTER INFO</a></p>
            </div>
            <div class="col-lg-2">
                <img src="{% static "img/ledet_logo.png" %}" width="90px">
            </div>
        </div>
    </div>
    </section>
{% endblock %}

{% block foot %}

    <!-- Plugin JavaScript -->
    <script src="{% static "js/libs/jquery/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/libs/bootstrap-4.0.0/js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/libs/jquery-easing/jquery.easing.min.js" %}"></script>
    <script src="{% static "js/libs/scrollreveal/scrollreveal.min.js" %}"></script>
    <script src="{% static "js/libs/magnific-popup/jquery.magnific-popup.min.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <script src="{% static "js/views/donut-chart.js" %}"></script>
    <script src="{% static "js/views/generate-donut-chart.js" %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static "js/creative.js" %}"></script>
{% endblock %}